{% extends "ProfileLayout.html" %}

{% block content %}
    <form action="{% url 'profile_messages' %}" method="get">
        <h1>Найдите кому написать письмо</h1>
        <input type="text" name="q" placeholder="Searching...">
        <button type="submit">Search</button>
    </form>

<div style="width: 100%; overflow-x: scroll; white-space: nowrap; border: 1px solid #ccc; padding: 10px;">

{% for user in users %}
        <a href="{% url 'profile_messages_chat' user.username %}">{{ user.first_name }} {{ user.last_name }}</a>
      {% endfor %}

</div>

<div style="width: 100%; overflow-x: scroll; white-space: nowrap; border: 1px solid #ccc; padding: 10px;">
Недавние:
{% for name in profilesChats %}
        <a href="">{{name.speakingPartnerUsername}}</a>
      {% endfor %}

</div>

    

{% endblock %}